/XboxGamesListAndVoting.v11.suo
/XboxGamesListAndVoting/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/XboxGamesListAndVoting/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/XboxGamesListAndVoting/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/XboxGamesListAndVoting/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/XboxGamesListAndVoting/obj/Debug/XboxGamesListAndVoting.csproj.FileListAbsolute.txt
/XboxGamesListAndVoting/obj/Debug/XboxGamesListAndVoting.csprojResolveAssemblyReference.cache
/XboxGamesListAndVoting/obj/Debug/XboxGamesListAndVoting.dll
/XboxGamesListAndVoting/obj/Debug/XboxGamesListAndVoting.pdb
/XboxGamesListAndVoting/bin/Antlr3.Runtime.dll
/XboxGamesListAndVoting/bin/Autofac.Integration.Mvc.dll
/XboxGamesListAndVoting/bin/Autofac.Integration.Mvc.xml
/XboxGamesListAndVoting/bin/Autofac.dll
/XboxGamesListAndVoting/bin/Autofac.xml
/XboxGamesListAndVoting/bin/EntityFramework.dll
/XboxGamesListAndVoting/bin/EntityFramework.xml
/XboxGamesListAndVoting/bin/Microsoft.Web.Infrastructure.dll
/XboxGamesListAndVoting/bin/Microsoft.Web.Mvc.FixedDisplayModes.dll
/XboxGamesListAndVoting/bin/Newtonsoft.Json.dll
/XboxGamesListAndVoting/bin/Newtonsoft.Json.xml
/XboxGamesListAndVoting/bin/System.Net.Http.Formatting.dll
/XboxGamesListAndVoting/bin/System.Net.Http.Formatting.xml
/XboxGamesListAndVoting/bin/System.Web.Http.WebHost.dll
/XboxGamesListAndVoting/bin/System.Web.Http.WebHost.xml
/XboxGamesListAndVoting/bin/System.Web.Http.dll
/XboxGamesListAndVoting/bin/System.Web.Http.xml
/XboxGamesListAndVoting/bin/System.Web.Mvc.dll
/XboxGamesListAndVoting/bin/System.Web.Mvc.xml
/XboxGamesListAndVoting/bin/System.Web.Optimization.dll
/XboxGamesListAndVoting/bin/System.Web.Providers.dll
/XboxGamesListAndVoting/bin/System.Web.Razor.dll
/XboxGamesListAndVoting/bin/System.Web.Razor.xml
/XboxGamesListAndVoting/bin/System.Web.WebPages.Deployment.dll
/XboxGamesListAndVoting/bin/System.Web.WebPages.Deployment.xml
/XboxGamesListAndVoting/bin/System.Web.WebPages.Razor.dll
/XboxGamesListAndVoting/bin/System.Web.WebPages.Razor.xml
/XboxGamesListAndVoting/bin/System.Web.WebPages.dll
/XboxGamesListAndVoting/bin/System.Web.WebPages.xml
/XboxGamesListAndVoting/bin/WebGrease.dll
/XboxGamesListAndVoting/bin/XboxGamesListAndVoting.dll
/XboxGamesListAndVoting/bin/XboxGamesListAndVoting.pdb
/XboxGamesListAndVoting/XboxGamesListAndVoting.csproj.user
/XboxGamesListAndVoting.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/XboxGamesListAndVoting.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/XboxGamesListAndVoting.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/XboxGamesListAndVoting.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/XboxGamesListAndVoting.Tests/obj/Debug/XboxGamesListAndVoting.Tests.csprojResolveAssemblyReference.cache
/XboxGamesListAndVoting.Tests/obj/Debug/XboxGamesListAndVoting.csprojResolveAssemblyReference.cache
/XboxGamesListAndVoting/Properties/PublishProfiles/nerderyxboxgames.pubxml.user
/XboxGamesListAndVoting/Properties/PublishProfiles/nerderyxboxgames.pubxml
